/*========================================================================================================= */
/*========================================================================================================= */
body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
    color: #333;
}


h1 {
  color: black;
  font-size: 32px;
}

p {
  color: #345;
}


.destaque {
  background-color: white;
  text-align: center;
}

/*========================================================================================================= */
/* PARTE DOS BLOCOS DO CABEÇALHO */
/*========================================================================================================= */

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 40px;
  }
.bloco-esquerda, .bloco-direita {
  flex: 0 0 auto;
}
.bloco-centro{
  flex:1;
  text-align: center;
}
.foto-lateral {
  width: 500px;
  height: auto;
  object-fit: contain;
}
/*========================================================================================================= */
/*========================================================================================================= */
